{% extends 'feed/base.html'%}

{%block content%}

    <div class="container">
        {% for tweet in tweets %}
            
            <div class = "card" style = "height: auto">
                <div class = "card-header" style = "display: flex; height: 42px">
                    <a href ="#"><h5>@{{tweet.uname}}</h5></a><p>&nbsp;{{tweet.datetime}}</p>
                </div>
                <div class = "card-body">
                    <p class ="card-text">{{tweet.text}}</p>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>    
{%endblock content%}